*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	background: #ededce;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.youtube-logo {
	height: 20px;
}

.search-bar {
	display: flex;
	flex-grow: 1;
	margin: 0 2rem 0 4rem;
}

.search-input {
	width: 100%;
	font-size: inherit;
	padding: .4em;
	border: 1px solid #777;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.search-btn {
	display: flex;
	align-items: center;
	padding: 0 1.25rem;
	border: 1px solid #777;
	background-color: #F8F8F8;
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	cursor: pointer;
}

.search-btn:hover {
	background-color: #F0F0F0;
}

.menu-icons {
	display: grid;
	grid-template-columns: repeat(4, auto);
	align-items: center;
	gap: 1.5rem;
}

.video-section {
	display: inline-grid;
	margin: 0 1.5rem;
	border-top: 4px solid #CCC;
	float: right;
}

.video-section:first-child {
	border-top: none;
}

.video-container {
	display: inline-flex;
	margin: 0 0 1rem 1.2rem;
	border: 1px solid gray;
	box-shadow: 5px 5px 8px #888888;
	cursor: pointer;
	font-size: 11px;

}

.thumbnail {
	position: relative;
	display: flex;
}

.thumbnail::before {
	content: attr(data-duration);
	position: absolute;
	background-color: rgba(0, 0, 0, .85);
	color: white;
	right: 5px;
	bottom: 5px;
	padding: .1em .3em;
	border-radius: .3em;
	font-size: .9rem;
}

.thumbnail-image {
	height: 6rem;
	background-color: #AAA;
}

.video-side-section {
	text-align: center;
	width: 15rem;
	background: #c4e2db;	
}

.video-side-section h1 {
	margin-top: 2rem;
	font-size: 10px;
	font-weight: 500;
}

.main-image {
	height: 20rem;
	width: 100%;
}

.main-section {
	display: inline-flex;
}

.main-video {
	width: 51rem;
	border: 0.5px solid gray;
	box-shadow: 5px 5px 8px #888888;
	margin-left: 2rem;
	height: 27rem;
	background:#ceedd2; 
}



.video-bottom-section h1 {
	font-size: 22px;
}

.video-bottom-section h2 {
	font-size: 14px;
}

.video-bottom-section p {
	font-size: 11px;
}

.description {
	margin-left: 1rem;
}
